<ion-header>
  <ion-toolbar>
    <ion-back-button>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Connaught</ion-title>
  <br>
    <ion-img width = "150" height="150" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png"></ion-img>
    <h2>Counties in Connaught</h2>
    <ul>
      <li>Sligo</li>
      <li>Galway</li>
      <li>Roscommon</li>
      <li>Mayo</li>
      <li>Leithrim</li>
    </ul>
</ion-content>